/* Lista de cosas utiles de la misma familia*/


$colores:
/*1*/red, 
/*2*/green,
/*3*/yellow,
/*4*/blue,
/*5*/#000000,
/*6*/rgb(175, 173, 173),
/*7*/orange;

$font-h5:
10px,
25px,
35px,
45px,
55px;

$footer-font-p:
8px,
10px,
12px,
15px,
50px;




