/*mapas*/


$footerOp1: (
    bg-footer:#000000,
    padd-footer: 30px 0,
    aling-tx-footer: center
);

$footerOp2: (
    bg-footer: #a09d9d00,
    padd-footer: 20px 0,
    aling-tx-footer: center
);